* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Playfair Display', serif;
  background-color: white;
  color: black;
  line-height: 1.6;
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.review {
  color: #8b0000;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  margin: 20px 0;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
  margin: 30px 0 10px;
}


img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 20px 0;
  border-radius: 5px;
}

hr {
  margin: 30px 0;
  border: none;
  height: 1px;
  background-color: #ccc;
}

a {
  color: #8b0000;
  border: 8px  solid brown;
  text-decoration: none;
  font-weight: 700;

}

a:hover {
  text-decoration: underline;
}

p {
    color: black;
    text-align: center;
}


@media (max-width: 768px) {
    .layout {
        flex-direction: column;
        align-items: center;
    }
}

